<router-outlet></router-outlet>
<form class="page1">
<h3><b>welcome to our website..</b></h3>
<a routerLink="/task">login</a><br>
<a routerLink="/cse">create</a><br>
<a routerLink="/it">update</a><br>
<a routerLink="/display">view</a><br>
<a routerLink="/front">logout</a><br>
<a routerLink="/dept">module</a><br>
<br><br>
<a routerLink="/head">1comp</a><br>
<a routerLink="/he">2comp</a><br>
<a routerLink="/hed">3comp</a><br>
<a routerLink="head/head/p1">1and1comp</a><br>
<a routerLink="/p2">1and2comp</a><br>
</form>
