<router-outlet></router-outlet>
<h3>Please Create Your Data !!</h3>
<form class="form" >
<label><b>First Name</b></label>
<input type="text"  id="fname"  placeholder="Enter Your First Name" required><br>
<label><b>Last Name</b></label>
<input type="text"  id="lname"  placeholder="Enter Your Last Name" required><br>
<label><b>Date of birth</b></label>
<input type="birthday" placeholder="Enter Your Date Of Birth" required><br>
<p><b>Address</b></p>
<label><b>Address line 1</b></label>
<input type="text"  id="Addressline1"  placeholder="Enter Your Address" required><br>
<label><b>Address line 2</b></label>
<input type="text" placeholder="Enter Your Address" required><br>
<label><b>City</b></label>
<input type="text" id="p"  placeholder="Enter your city" required><br>
    <label><b>country</b></label>
    <input type="text"  id="Addressline1"  placeholder="Enter Your Address" required><br>
    <label><b>pincode</b></label>
    <input type="text" placeholder="Enter Your Address" required><br>
    <p><b>college</b></p>
    <label><b>department</b></label>
    <input type="text" id="p"  placeholder="Enter your department" required><br>
    <label><b>name</b></label>
    <input type="text" id="p"  placeholder="Enter your college name " required><br>
  <button type="button"  id="s" routerLink="/it" ><b>submit</b></button>       
</form>
