<router-outlet></router-outlet>
<div class="design">
<h3>Enter Student Details!!</h3>
  <form [formGroup]="createdata" (ngSubmit)="onSubmit()">
    <label><b>Register number</b></label>
    <input type="text" placeholder="Enter Your Register Number" formControlName="Reg_No"><br>
    <div formArrayName="student">
      <h4>Enter student details</h4>
      <ng-container *ngFor="let ccustom of stud.controls;let i=index">
        <div [formGroupName]="i">
        <label><b>First Name</b></label>
          <input type="text" placeholder="Enter Your First Name" formControlName="FirstName"><br>
          <label><b>Last Name</b></label>
          <input type="text" placeholder="Enter Your Last Name" formControlName="LastName"><br>
          <label><b>Date of birth</b></label>
          <input type="text" placeholder="Enter Your Date Of Birth" formControlName="DOB"><br>
          <div formGroupName="address">
            <h4>Enter Student Address</h4>
            <label><b>Address line 1</b></label>
            <input type="text" placeholder="Enter Your Address" formControlName="addressline1"><br>
            <label><b>Address line 2</b></label>
            <input type="text" placeholder="Enter Your Address" formControlName="addressline2"><br>
            <label><b>City</b></label>
            <input type="text" placeholder="Enter your city" formControlName="City"><br>
            <label><b>country</b></label>
            <input type="text" placeholder="Enter Your country" formControlName="country"><br>
            <label><b>pincode</b></label>
            <input type="text" placeholder="Enter Your pincode" formControlName="Pincode"><br>
          </div>
        </div>
      </ng-container>
    </div>
    <div formGroupName="college">
      <h4>Enter College Details</h4>
      <label><b>College</b></label>
      <input type="text" placeholder="Enter your department" formControlName="department"><br>
      <label><b>name</b></label>
      <input type="text" placeholder="Enter your college name " formControlName="name"><br>
      <button type="submit" [disabled]="!createdata.valid"><b>submit</b></button>
    </div>

  </form>
</div>