 <router-outlet></router-outlet>
<!-- <table  class="br">
    <div class="login">
        <form class= "Login">
            <label><b>Name</b></label>
            <input type="text"  id="name"  placeholder="Enter Your Name"><br>
            <label><b>Email</b></label>
            <input type="Email" placeholder="Enter Your Email-Id"><br>
            <label><b>Mobile Number</b></label>
            <input type="Tel"   placeholder="Enter Your MobileNumber" id="ph"><br>
            <label><b>Gender</b></label><br>
            <input type="radio"  id="m">
            <label id="m"><i>Male</i></label>
            <input type="radio"  id="f">
            <label id="f"><i>Female</i></label><br>
            <label><b>Password</b></label>
            <input type="password" id="p"  placeholder="Set Your Password"><br>
            <button type="button" id="s" routerLink="/cse" ><b>submit</b></button>

        </form>
    </div>

</table>  -->
