<router-outlet></router-outlet>
<h3>Details About Your Data!!</h3>
<button type="button" routerLink="/cse" >create</button>
<!-- <div><a class="out" routerLink="/front">logout</a></div> -->
<table class ="design">
    <tr>
        <th>College</th>
        <th>Department</th>
        <th>Register Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Of Birth</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>City</th>
        <th>Pincode</th>
        <th>Country</th>
    </tr>  
                <tr *ngFor="let array of ddisplaythelist">
                    
                    <td *ngIf="array.college">{{array.college.name}}</td>
                
                    <td *ngIf="array.college">{{array.college.department}}</td>
                    <td >{{array.Reg_No}}</td>
                    <ng-container *ngFor="let stu of array.student">
                        <td *ngIf="stu">{{stu.FirstName}}</td>
                        <td *ngIf="stu">{{stu.LastName}}</td>
                        <td *ngIf="stu">{{stu.DOB}}</td>   
                        <td *ngIf="stu">{{stu.address.addressline1}}</td>
                        <td *ngIf="stu">{{stu.address.addressline2}}</td>
                        <td *ngIf="stu">{{stu.address.city}}</td> 
                        <td *ngIf="stu">{{stu.address.Pincode}}</td>
                        <td *ngIf="stu">{{stu.address.country}}</td>
                        <button type="button" routerLink="/cse" >edit</button> 
                        <button type="button" routerLink="/display" >view</button> 
                        <button type="button" (click)="clear(array._id)"> delete</button> 
                    </ng-container>
                    </tr>   
</table>
